*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
}
img {
    max-width: 100%;
    height: auto !important;
    vertical-align: middle;
    border: 0;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}

// WordPress specific
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}
