//
// Primary breakpoints
// ===================
// Define the projects breakpoints here. Some sensible defualts are included.
//

@mixin bp( $point ) {
    @if ( $point == 'x-large' ) {
        @media ( min-width: 1280px ) {
            @content;
        }
    } @else if ( $point == 'large' ) {
        @media ( min-width: 1024px ) {
            @content;
        }
    } @else if ( $point == 'medium' ) {
        @media ( min-width: 768px ) {
            @content;
        }
    } @else if ( $point == 'small' ) {
        @media ( min-width: 480px ) {
            @content;
        }
    } @else {
        @media ( min-width: $point ) {
            @content;
        }
    }
}
