//
// Config
// ------
// Layout/Grid configuration variables
//

$site_width:    960px;

//
// Colors
// ------
// Color variables should avoid describing the actual color, but rather state
// the colors prominance in the chromatic hierarchy.
// For example: $primary-color > $dark-red
//

$primary-color:   #000;
$secondary-color: #FFF;
$tertiary-color:  #F00;

//
// Fonts
// ------
// Font variables are just the font stacks used.
//

$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
