//
// Jeet
// ====
// We use Jeet for grid layout as it seperates content from styling nicely,
// and accomplishes what my original grid was doing and more.
//

@import 'jeet/settings';
@import 'jeet/functions';
@import 'jeet/grid';

//
// Vars
// ====
// Store any configuraion variables in here.
//

@import "vars/colors";
@import "vars/typography";
@import "vars/misc";

//
// Placeholders
// ============
// Placeholders are used as a kind of bootstrap for common elements.
//
// For example:
// ------------
// _forms.scss contains placeholder styles for the basic form elements
// (structured in a BEM style) that we can then extend classes with. This means
// that we can 'style' the different forms in individual, page specific,
// partials, but keep the base styles all together in one file.
// It's pretty handy!
//

@import "placeholders/clearfix";
@import "placeholders/typography";
@import "placeholders/buttons";
@import "placeholders/forms";

//
// Mixins
// ======
// Nothing out of the ordinary here. Just a small library of mixins that come in
// handy every now and then.
//



//
// Compass
// =======
// I only use compass for sprites currently.
//

@import "compass/utilities/sprites";

//
// Partials
// --------
// Here we import all our partials, starting with the most generic ones.
// Page templates should have their own partial file specific to that layout.
//

@import "partials/reset";
@import "partials/typography";
@import "partials/layout";
@import "partials/header";
@import "partials/home";
@import "partials/footer";
@import "partials/sidebar";

//
// Vendor
// ------
// Any thrid party assets that aren't available through Bower.
//

// @import "vendor/xxx.scss";
